= simple_form_for @user do |f|
  = f.error_notification
  .form-inputs
    .form-group
      = f.input :name, required: true, label: 'ユーザ名'
    .form-group
      = f.input :sex, label: '性別',as: :radio_buttons, item_wrapper_class: 'inline'
    .form-group
      = f.label '誕生年月'
      = f.date_select :birthday , start_year: 1900, end_year: Date.today.year
    .form-group
      = f.label :birth_prefecture_id, '生まれた都道府県'
      = f.collection_select(:birth_prefecture_id,Prefecture.all, :id, :name)
    .form-group
      = f.label :current_prefecture_id, '現在の都道府県'
      = f.collection_select(:current_prefecture_id,Prefecture.all, :id, :name)
    .actions
      = f.submit '更新', :class => 'btn btn-primary'
