#notice= notice
%b
  = image_tag(@user.user_image.url, :class => 'img-thumbnail')
  = @user.get_user_name
%p
= render 'shared/stats'
= render 'follow_form' if signed_in?

%p

- impressions = @user.impressions.includes(:liquor)
= render partial: 'shared/impression_list', locals: { impressions: impressions }
