- impressions.each do |impression|
  .col-md-3
    .impression-back
      .liquor-title= impression.liquor.name
      = image_tag impression.image.thumb.url, :size => "200x200"
      = raty_stars(impression.total_score)
      %br
      = impression.note
      %br
      = image_tag(impression.user.user_image.thumb.url) if impression.user.user_image.thumb.url.present?
      = link_to impression.user.get_user_name, user_path(impression.user)
      = impression.updated_at.strftime("%Y/%m/%d")
      - if current_user?(impression.user)
        = link_to "修正・削除する", edit_impression_path(impression)
