= form_for [@brand, @liquor] do |f|
  - if @liquor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@liquor.errors.count, "error")} prohibited this liquor from being saved:"
      %ul
        - @liquor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :brand_id, "銘柄（ブランド）"
    = @brand.name
    = f.hidden_field :brand_id , value: @brand.id
  .field
    = f.label :name, "お酒の名前"
    = f.text_field :name
  .field
    = f.label :name_kana, "お酒の名前かな"
    = f.text_field :name_kana
  .field
    = f.label :category_id, "カテゴリー"
    = f.collection_radio_buttons(:category_id,Category.all, :id, :name)
  .field
    = f.hidden_field :brewery_id , value: @brand.brewery_id
  .actions
    = f.submit 'Save'
