!!!
%html
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
  %head
    %title Saketano
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag 'jquery.raty'

  %body{role: "document"}
    / Fixed navbar
    %nav.navbar.navbar-inverse{role: "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} Saketano
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li{:class => "#{'active' if current_page?(home_path)}"}
                = link_to home_path do
                  = fa_icon 'home', text: "Home"
            - if user_signed_in?
              %li{:class => "#{'active' if current_page?(edit_user_registration_path(current_user))}"}
                = link_to 'アカウント設定', edit_user_registration_path(current_user)
              %li
                = link_to "ログアウト", destroy_user_session_path, data: { confirm: "ログアウトしますか？" }, method: :delete
              %li
                %button{:type =>"button", :class => "btn btn- navbar-btn"}
                  = link_to '感想を登録', brands_path
            - else
              %li{:class => "#{'active' if current_page?(new_user_registration_path)}"}
                = link_to "会員登録", new_user_registration_path
              %li{:class => "#{'active' if current_page?(new_user_session_path)}"}
                = link_to "ログイン", new_user_session_path
    %div.container{:role => "main"}
      - if notice
        %p.alert.alert-info= notice
      - if alert
        %p.alert.alert-error= alert
      = yield


